body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.head-title {
  font-family: "Plus Jakarta Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #06163a;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 36px;
  margin-bottom: 0.67em;
}

h2 {
  font-size: 36px;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 30px;
  margin-bottom: 0.6em;
  margin-top: 1em;
}

h4 {
  font-size: 24px;
  margin-bottom: 0.6em;
  margin-top: 1.33em;
}

h5 {
  font-size: 20px;
  margin-bottom: 0.6em;
  margin-top: 1.67em;
}

h6 {
  font-size: 16px;
  margin-bottom: 0.6em;
  margin-top: 2.33em;
}

.m-title {
  font-size: 48px;
  line-height: 1;
  font-weight: 300;
}



.m-primary-bg {
  background-color: #223f9a;
}



.tertiary-color {
  color: #e4eaf7;
}

.tertiary-bg {
  background-color: #e4eaf7;
}
.tertiary-background {
  background-color: #fff;
}

a {
  color: #06163a;
}

a:hover,
a:focus {
  color: #ed1c24;
  text-decoration: none;
}
